**dateutil module**

In [1]:
import dateutil
import datetime as dt

In [2]:
dat1 = dt.datetime.now()
dat1

datetime.datetime(2022, 2, 8, 12, 3, 21, 815600)

**relativedelta**

In [3]:
# dateutil relativedelta example
dat1 + dateutil.relativedelta.relativedelta(months=+1, weeks = +1, hour = 9)

datetime.datetime(2022, 3, 15, 9, 3, 21, 815600)

In [4]:
# replace values (singular keywords)
dat1 + dateutil.relativedelta.relativedelta(year = 2020, month = 1)

datetime.datetime(2020, 1, 8, 12, 3, 21, 815600)

**dateutil offers a generic date/time string<br>
parser which is able to parse most known formats<br>
to represent a date and/or time.**

In [5]:
# parse example
dateutil.parser.parse('Mon Dec 27 10:36:28')

datetime.datetime(2022, 12, 27, 10, 36, 28)

In [6]:
dateutil.parser.parse("2021-12-27T10:49:41.5-03:00")

datetime.datetime(2021, 12, 27, 10, 49, 41, 500000, tzinfo=tzoffset(None, -10800))

**Handling timezones with dateutil module**

In [7]:
# dateutil tzutc example
# This is a tzinfo object that represents the UTC time zone
dat2 = dt.datetime.now(dateutil.tz.UTC)
dat2

datetime.datetime(2022, 2, 8, 12, 3, 21, 921626, tzinfo=tzutc())

In [8]:
dat2.tzname()

'UTC'

In [9]:
# dateutil tzoffset example
# A simple class for representing a fixed offset from UTC.
dt.datetime.now(dateutil.tz.tzoffset("BRST", -10800))

datetime.datetime(2022, 2, 8, 9, 3, 21, 952166, tzinfo=tzoffset('BRST', -10800))

In [10]:
# dateutil tzlocal example
dat3 = dt.datetime.now(tz=dateutil.tz.tzlocal())
dat3

datetime.datetime(2022, 2, 8, 12, 3, 21, 969137, tzinfo=tzlocal())

In [11]:
dat3.tzname()

'GMT Standard Time'

In [12]:
# dateutil gettz example
lisbon_tz = dateutil.tz.gettz('Europe/Lisbon')

In [13]:
dat4 = dt.datetime.now(tz=lisbon_tz)
dat4

datetime.datetime(2022, 2, 8, 12, 3, 22, 139281, tzinfo=tzfile('Europe/Lisbon'))

In [14]:
dat4.tzname()

'WET'

In [15]:
# 20/9/2021 at hour 11 in Lisbon timezone 
dat5 = dt.datetime(2021, 9, 20, 11, 0, 0, 
                   tzinfo=dateutil.tz.gettz('Europe/Lisbon'))
dat5

datetime.datetime(2021, 9, 20, 11, 0, tzinfo=tzfile('Europe/Lisbon'))

In [16]:
# 20/9/2021 at hour 10 in UTC
dat6 = dt.datetime(2021, 9, 20, 10, 0, 0, tzinfo=dateutil.tz.UTC)
dat6

datetime.datetime(2021, 9, 20, 10, 0, tzinfo=tzutc())

In [17]:
# Two dates are equal because Lisbon has a +1 hour dst
dat5 == dat6

True

In [18]:
# In September Portugal timezone was WEST:
# Western European Summer Time
dat5.tzname()

'WEST'

In [19]:
# In September Portugal had a +1 hour dst:
# Daylight Saving Time
dat5.dst()

datetime.timedelta(seconds=3600)

In [20]:
dat5.tzinfo

tzfile('Europe/Lisbon')