In [1]:
import datetime as dt
import time

In [2]:
dt.date(year=2021, month=12, day=20)
dt.date(2021,12,20)

datetime.date(2021, 12, 20)

In [3]:
dt.time(hour=15, minute=25, second=43)
dt.time(15, 25, 43)

datetime.time(15, 25, 43)

In [4]:
dt.datetime(year=2021, month=12, day=20, hour=15, minute=25, second=43)
dt.datetime(2021, 12, 20, 15, 25, 43)

datetime.datetime(2021, 12, 20, 15, 25, 43)

**Other ways to create Datetime instances**

In [5]:
today = dt.date.today()
today

datetime.date(2021, 12, 27)

In [6]:
today_time = dt.datetime.now()
today_time

datetime.datetime(2021, 12, 27, 15, 39, 47, 492731)

In [7]:
dt.datetime.combine(today, today_time.time())

datetime.datetime(2021, 12, 27, 15, 39, 47, 492731)

**Creating from a string date**

In [8]:
# YYYY-MM-DD HH:MM:SS (in ISO 8601 format)
dt.date.fromisoformat("2021-12-22")

datetime.date(2021, 12, 22)

In [9]:
date_str = "12/22/2021 21:13:03"
date_fmt_str = "%m/%d/%Y %H:%M:%S"
dt.datetime.strptime(date_str, date_fmt_str)

datetime.datetime(2021, 12, 22, 21, 13, 3)

**Date arithmetic**

In [10]:
today = dt.datetime.now()
today

datetime.datetime(2021, 12, 27, 15, 39, 47, 559694)

In [11]:
# adding two days
after_tomorrow = dt.timedelta(days=+2)
today + after_tomorrow

datetime.datetime(2021, 12, 29, 15, 39, 47, 559694)

In [12]:
# subtracting two days
before_yesterday = dt.timedelta(days=-2)
today + before_yesterday

datetime.datetime(2021, 12, 25, 15, 39, 47, 559694)

In [13]:
# adding two days and subtracting three hours
delta = dt.timedelta(days=+2, hours=-3)
today + delta

datetime.datetime(2021, 12, 29, 12, 39, 47, 559694)

**date objects**

In [14]:
# datetime.date(year, month, day)
dt.date(2021,12,15)

datetime.date(2021, 12, 15)

In [15]:
# Current local date
dt.date.today()

datetime.date(2021, 12, 27)

In [16]:
# Local date from timestamp
d1 = dt.date.fromtimestamp(time.time())
d1

datetime.date(2021, 12, 27)

In [17]:
# date attributes
d1.year, d1.month, d1.day

(2021, 12, 27)

In [18]:
# Returns the day of the week (Monday is 0)
d1.weekday()

0

In [19]:
# Returns the day of the week (Monday is 1)
d1.isoweekday()

1

In [20]:
# Returns the year, week and weekday
# The first week is the first week containing a Thursday
d1.isocalendar()

(2021, 52, 1)

In [21]:
# Returns a date string in ISO format YYYY-MM-DD
d1.isoformat()

'2021-12-27'

In [22]:
#Return a date string controlled by the format
d1.strftime("%d/%m/%Y")

'27/12/2021'

**datetime objects**

In [23]:
# datetime.datetime(year,month,day,hour=0,minute=0
# second=0, microsecond=0,tzinfo=None,*,fold=0)
dt.datetime(2021,12,26,16,6,45)

datetime.datetime(2021, 12, 26, 16, 6, 45)

In [24]:
# Returns the current local date and time
dt1 = dt.datetime.today()
dt1

datetime.datetime(2021, 12, 27, 15, 39, 47, 781572)

In [25]:
# returns the current UTC date and time
dt.datetime.utcnow()

datetime.datetime(2021, 12, 27, 15, 39, 47, 797559)

In [26]:
# Local date from timestamp
dt.datetime.fromtimestamp(time.time())

datetime.datetime(2021, 12, 27, 15, 39, 47, 815566)

**datetime object attributes**

In [27]:
dt1.year, dt1.month, dt1.day

(2021, 12, 27)

In [28]:
dt1.hour, dt1.minute, dt1.second, dt1.microsecond

(15, 39, 47, 781572)

In [29]:
dt1.tzinfo, dt1.fold

(None, 0)

**datetime object methods**

In [30]:
# Returns date object with the same date
dt1.date()

datetime.date(2021, 12, 27)

In [31]:
# Returns time object with the same time
dt1.time()

datetime.time(15, 39, 47, 781572)

In [32]:
# Returns time object with tzinfo attributes
dt1.timetz()

datetime.time(15, 39, 47, 781572)

In [33]:
# Returns a datetime object with new tzinfo atribute tz
dt1 = dt1.astimezone(tz=None)

In [34]:
# Returns dst - self.tzinfo.dst(self)
dt1.dst()

In [35]:
# Returns self.tzinfo.tzname(self)
dt1.tzname()

'GMT Standard Time'

In [36]:
# returns a struct_time
dt1.timetuple()

time.struct_time(tm_year=2021, tm_mon=12, tm_mday=27, tm_hour=15, tm_min=39, tm_sec=47, tm_wday=0, tm_yday=361, tm_isdst=-1)

In [37]:
# Returns the day of the week (Monday is 0)
dt1.weekday()

0

In [38]:
# Returns the day of the week (Monday is 1)
dt1.isoweekday()

1

In [39]:
# Returns the year, week and weekday
# The first week is the first week containing a Thursday
dt1.isocalendar()

(2021, 52, 1)

In [40]:
# Returns a date string in ISO format 
# YYYY-MM-DDTHH:MM:SS:ffffff
dt1.isoformat()

'2021-12-27T15:39:47.781572+00:00'

In [41]:
# Returns a date string
dt1.ctime()

'Mon Dec 27 15:39:47 2021'

In [42]:
#Return a date string controlled by the format
dt1.strftime("%A, %d. %B %Y %I:%M%p")

'Monday, 27. December 2021 03:39PM'

**time objects**

In [43]:
# datetime.time(hour=0,minute=0,second=0,
# microsecond=0,tzinfo=None,*,fold=0)
t1 = dt.time(16, 42, 55, 253765)
t1

datetime.time(16, 42, 55, 253765)

**time object attributes**

In [44]:
t1.hour, t1.minute, t1.second, t1.microsecond

(16, 42, 55, 253765)

In [45]:
t1.tzinfo, t1.fold

(None, 0)

**time object methods**

In [46]:
# Returns a time string  in ISO 8601 format
t1.isoformat()

'16:42:55.253765'

In [47]:
#Return a time string controlled by the format
t1.strftime("%H:%M:%S.%f")

'16:42:55.253765'

In [48]:
# Returns dst - self.tzinfo.dst(None)
t1.dst()

In [49]:
# Returns self.tzinfo.tzname(None)
t1.tzname()