In [1]:
import numpy as np
import pandas as pd

**Creating a series with categorical data using dtype**

In [2]:
s = pd.Series(["a", "b", "c", "a"], dtype="category")
s

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']

**Converting a series to a category dtype**

In [3]:
df = pd.DataFrame({"A": ["a", "b", "c", "a"]})
df["B"] = df["A"].astype("category")
df.dtypes

A      object
B    category
dtype: object

**Using function cut() to group into discrete bins**

In [4]:
df = pd.DataFrame({"value": np.random.randint(0, 100, 20)})
labels = [f"{i} - {i+9}" for i in range(0, 100, 10)]
df["group"] = pd.cut(df.value, range(0, 105, 10), right=False, labels=labels)
df.head(5)

   value    group
0     78  70 - 79
1     41  40 - 49
2     16  10 - 19
3     14  10 - 19
4     39  30 - 39

**Passing a pandas.Categorical object to a Series**

In [5]:
raw_cat = pd.Categorical(
    ["a","b","c","d"], categories=["b", "c", "d"], ordered=False)
s = pd.Series(raw_cat)
s

0    NaN
1      b
2      c
3      d
dtype: category
Categories (3, object): ['b', 'c', 'd']